@charset 'UTF-8';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fundo: #FFFFFFFF;
  --fundo-destaque: #F6F6F6FF;
  --destaque: #004BC4FF;
  --destaque-inverso: #31A0FBFF;
  --texto: #101010FF;
  --texto-inverso: #E9E9E9FF;
}

body {
  font: bold 0.9em Arial;
  background-color: var(--fundo);
}

main {
  display: grid;
  grid-template-columns: auto 95vw auto;
}

section {
  grid-column: 2 / 3;
}

.destaque {
  color: var(--destaque-inverso);
}

/*-------------------------------------------------HEADER DA PAGINA---*/

header {
  background-color: var(--destaque);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 10px #00000040;
}

header h1 {
  color: var(--texto-inverso);
  font: bold 1.3rem serif;
}

header a {
  color: var(--texto-inverso);
  font-size: 1.5rem;
  padding: 6px;
  border-radius: 9px;
}

header a:hover {
  background-color: var(--destaque-inverso);
  box-shadow: 1px 1px 5px #00000040;
}

/*-------------------------------------------------MAIN > SECTION PERFIL---*/

section#perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid var(--fundo);
  outline: 4px solid var(--destaque-inverso);
  margin: 30px auto 20px auto;
  display: block;
  object-fit: cover;
  object-position: top;
}

section#perfil h2 {
  text-align: center;
  color: var(--destaque-inverso);
  font: bold 1.8rem serif;
  margin-bottom: 10px;
  text-shadow: 0px 0px 2px #00000030;
}

section#perfil div#sobre {
  max-width: 500px;
  margin: auto;
}

section#perfil div#sobre > h3 {
  color: var(--destaque-inverso);
  font: bold 1rem Arial;
}

section#perfil div#sobre > p {
  margin: 5px 0px 10px 0px;
  text-indent: 30px;
  line-height: 20px;
  font-weight: bold;
}

section#perfil div#social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

section#perfil div#social > a {
  padding: 8px;
  font-size: 1.3rem;
  border-radius: 9px;
  color: var(--destaque-inverso);
}

section#perfil div#social > a:hover {
  background-color: var(--destaque-inverso);
  color: var(--texto-inverso);
  box-shadow: 1px 1px 5px #00000030;
}

/*------------------------------------------------MAIN > SECTION INFORMAÇÕES---*/

section#informacoes h2 {
  color: var(--destaque-inverso);
  font: bold 1.3rem serif;
  margin: 5px 0px 5px 5px;
}

section#informacoes div#skill {
  background-color: var(--fundo-destaque);
  padding: 8px;
  border-radius: 7px;
}

section#informacoes div#nome {
  display: flex;
  justify-content: space-between;
  margin: 3px 0px;
}

section#informacoes div#bara {
  background-color: var(--fundo);
  height: 7px;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
}

section#informacoes div#porcentagem {
  height: 7px;
  background-color: var(--destaque-inverso);
  border-radius: 0px 5px 5px 0px;
}